footer {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #1c1b1b;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px 10px;
}

footer .logo-footer {
  height: 70px;
}

footer > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  width: 33%;
  height: 100%;
  border-right: 1px #888 solid;
  padding-right: 30px;
}

footer > div:first-child p {
  width: 250px;
  text-align: center;
}

footer > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 100px;
}

footer > div:nth-child(2) > div:first-child {
  width: 200px;
  border-right: 1px solid #888;
  height: 100%;
}

footer ul {
  margin-top: 10px;
  width: 100%;
  padding-left: 10%;
}

footer li {
  list-style: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9em;
}

footer > div:nth-child(2) > div:nth-child(2) {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-left: 40px;
}

footer > div:nth-child(2) > div:nth-child(2) > div {
  display: flex;
  justify-content: center;
  gap: 25px;
}

@media screen and (max-width: 900px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  footer > div:first-child {
    border-right: none;
    padding: 0;
  }

  footer > div:nth-child(2) {
    display: flex;
    justify-content: center;
    gap: 0;
  }

  footer > div:nth-child(2) > div {
    width: 50%;
  }
}
