.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up h1 {
  color: #ff8b13;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 37px;
  text-align: center;
  -webkit-text-stroke: 0.8px #fa4301;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sign-up .new-user-information {
  display: grid;
  grid-template-columns: repeat(2, 255px);
  grid-template-rows: repeat(2, 60px);
  gap: 50px;
  height: 240px;
  width: 560px;
  margin: 0 calc(50vw - 280px);
}

.sign-up .new-user-information p {
  margin: 0;
  margin-bottom: 5px;
}

.sign-up input::placeholder {
  color: #e5e5e5;
}

.sign-up input:focus {
  outline: none;
}

.sign-up input {
  height: 30px;
  text-align: center;
  border-radius: 7px;
  border: 0.01em solid #7f7f7f;
  width: 250px;
}








.sign-up .select-photo-container {
  margin-left: 0;
}

.sign-up .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.sign-up .container-photo-valide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.sign-up .create {
  background-color: #ff8b13;
  color: white;
  font-weight: 800;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: opacity 0.2s;
}

.sign-up .create:active {
  opacity: 0.8;
}



.sign-up .sign-in-link {
  font-size: .9em;
  font-weight: 800;
  color: #ff8b13;
  cursor: pointer;
}

.image-preview {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .sign-up .new-user-information {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 340px;
  }

  .sign-up .container-photo-valide {
    flex-direction: column;
    margin-top: 30px;
  }
}

.sign-up .passwords-dont-match {
  color: red;
  font-size: .9em;
}